include layout

block content
 h1= title
 p Welcome to #{title}
 -var memberlist = members
 div
   table.table.table-hover
    thead
      tr
        th Username
        th Password
        th Email
    tbody
      each member in members
        tr
          td=member.username
          td=member.password
          td=member.email